*{

box-sizing:border-box;

}


body{


margin:0;

background:#f2f2f2;

font-family:
Arial,
sans-serif;


}



.container{


max-width:900px;

margin:auto;

background:white;

min-height:100vh;

padding:20px;


}



h1{


text-align:center;


}



select{


width:100%;

padding:12px;

font-size:18px;

margin-bottom:20px;


}



#questionImage{


width:100%;

height:auto;

border-radius:10px;


}



.question{


padding:15px;

border-bottom:1px solid #ddd;


}



.number{


font-size:20px;

font-weight:bold;

margin-bottom:10px;


}



.option{


display:inline-block;

width:48%;

font-size:18px;

padding:8px;


}



button{


margin-top:20px;

width:100%;

padding:15px;

font-size:20px;

border:none;

border-radius:10px;

background:#0066ff;

color:white;


}



.correct{


background:#c8f7c5;

}



.wrong{


background:#ffcccc;

}



#result{


font-size:24px;

text-align:center;

font-weight:bold;

margin-top:20px;


}



@media(max-width:600px){


.container{

padding:10px;

}



.option{


width:100%;


}


}
